body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:427px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:872px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:66px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u857 {
  position:absolute;
  left:4px;
  top:0px;
  width:419px;
  height:872px;
}
#u858 {
  position:absolute;
  left:2px;
  top:428px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859 {
  position:absolute;
  left:26px;
  top:103px;
  width:375px;
  height:667px;
}
#u860 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u861 {
  position:absolute;
  left:214px;
  top:20px;
  width:15px;
  height:15px;
}
#u862 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u863 {
  position:absolute;
  left:148px;
  top:48px;
  width:14px;
  height:14px;
}
#u864 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:10px;
  background:inherit;
  background-color:rgba(38, 40, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  position:absolute;
  left:188px;
  top:50px;
  width:68px;
  height:10px;
}
#u866 {
  position:absolute;
  left:2px;
  top:-3px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u867 {
  position:absolute;
  left:187px;
  top:780px;
  width:70px;
  height:70px;
}
#u868 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:65px;
  background:inherit;
  background-color:rgba(235, 235, 236, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  position:absolute;
  left:0px;
  top:186px;
  width:5px;
  height:65px;
}
#u870 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:65px;
  background:inherit;
  background-color:rgba(235, 235, 236, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:0px;
  top:265px;
  width:5px;
  height:65px;
}
#u872 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(235, 235, 236, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  position:absolute;
  left:0px;
  top:111px;
  width:5px;
  height:35px;
}
#u874 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:65px;
  background:inherit;
  background-color:rgba(206, 206, 207, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  position:absolute;
  left:422px;
  top:186px;
  width:5px;
  height:65px;
}
#u876 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:26px;
  top:103px;
  width:375px;
  height:667px;
}
#u878 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#C9C9C9;
}
#u879 {
  position:absolute;
  left:51px;
  top:730px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#C9C9C9;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#C9C9C9;
}
#u881 {
  position:absolute;
  left:128px;
  top:730px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#C9C9C9;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
}
#u883 {
  position:absolute;
  left:355px;
  top:730px;
  width:23px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#C9C9C9;
}
#u885 {
  position:absolute;
  left:284px;
  top:730px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#C9C9C9;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u887_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:44px;
  height:6px;
}
#u887 {
  position:absolute;
  left:345px;
  top:767px;
  width:41px;
  height:3px;
  color:#FFFFFF;
}
#u888 {
  position:absolute;
  left:2px;
  top:-6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u890 {
  position:absolute;
  left:198px;
  top:725px;
  width:48px;
  height:34px;
  font-size:20px;
}
#u891 {
  position:absolute;
  left:2px;
  top:5px;
  width:44px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:36px;
}
#u892 {
  position:absolute;
  left:197px;
  top:724px;
  width:5px;
  height:35px;
}
#u893 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:36px;
}
#u894 {
  position:absolute;
  left:242px;
  top:724px;
  width:5px;
  height:35px;
}
#u895 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896 {
  position:absolute;
  left:26px;
  top:713px;
  width:77px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u897 {
  position:absolute;
  left:103px;
  top:713px;
  width:75px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u898 {
  position:absolute;
  left:178px;
  top:713px;
  width:79px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u899 {
  position:absolute;
  left:257px;
  top:713px;
  width:74px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u900 {
  position:absolute;
  left:331px;
  top:713px;
  width:73px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u901 {
  position:absolute;
  left:26px;
  top:103px;
  width:375px;
  height:610px;
  overflow:hidden;
}
#u901_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:610px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u901_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:865px;
  overflow:hidden;
  touch-action:none;
}
#u902_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:865px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u902_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:730px;
  background:inherit;
  background-color:rgba(22, 24, 36, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:0px;
  top:127px;
  width:375px;
  height:730px;
}
#u904 {
  position:absolute;
  left:2px;
  top:357px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:140px;
}
#u906 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u907 {
  position:absolute;
  left:19px;
  top:98px;
  width:100px;
  height:100px;
}
#u908 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u909 {
  position:absolute;
  left:22px;
  top:101px;
  width:95px;
  height:95px;
}
#u910 {
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
  background:inherit;
  background-color:rgba(56, 59, 68, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u911 {
  position:absolute;
  left:140px;
  top:150px;
  width:174px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u912 {
  position:absolute;
  left:2px;
  top:10px;
  width:170px;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(56, 59, 68, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  position:absolute;
  left:319px;
  top:150px;
  width:40px;
  height:36px;
}
#u914 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
}
#u915 {
  position:absolute;
  left:332px;
  top:159px;
  width:15px;
  height:19px;
}
#u916 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u917 {
  position:absolute;
  left:343px;
  top:166px;
  width:9px;
  height:16px;
  color:#FFFFFF;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u919 {
  position:absolute;
  left:20px;
  top:215px;
  width:73px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u921 {
  position:absolute;
  left:20px;
  top:247px;
  width:141px;
  height:16px;
  color:#FFFFFF;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:2px;
}
#u923 {
  position:absolute;
  left:21px;
  top:273px;
  width:331px;
  height:1px;
}
#u924 {
  position:absolute;
  left:2px;
  top:-8px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u925 {
  position:absolute;
  left:21px;
  top:284px;
  width:129px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u927 {
  position:absolute;
  left:21px;
  top:318px;
  width:49px;
  height:22px;
  color:#C9C9C9;
}
#u928 {
  position:absolute;
  left:2px;
  top:3px;
  width:45px;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u929 {
  position:absolute;
  left:25px;
  top:324px;
  width:8px;
  height:10px;
}
#u930 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u931 {
  position:absolute;
  left:74px;
  top:318px;
  width:44px;
  height:22px;
  color:#C9C9C9;
}
#u932 {
  position:absolute;
  left:2px;
  top:3px;
  width:40px;
  word-wrap:break-word;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u933 {
  position:absolute;
  left:122px;
  top:318px;
  width:61px;
  height:22px;
  color:#C9C9C9;
}
#u934 {
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u935 {
  position:absolute;
  left:21px;
  top:359px;
  width:46px;
  height:19px;
  font-size:16px;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u937 {
  position:absolute;
  left:84px;
  top:359px;
  width:46px;
  height:19px;
  font-size:16px;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u939 {
  position:absolute;
  left:147px;
  top:359px;
  width:46px;
  height:19px;
  font-size:16px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u941 {
  position:absolute;
  left:-1px;
  top:395px;
  width:375px;
  height:53px;
  overflow:hidden;
}
#u941_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u941_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u942 {
  position:absolute;
  left:33px;
  top:7px;
  width:73px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
}
#u944 {
  position:absolute;
  left:151px;
  top:7px;
  width:73px;
  height:24px;
  font-size:20px;
  color:#AEAEAE;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
}
#u946 {
  position:absolute;
  left:268px;
  top:7px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#AEAEAE;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:6px;
}
#u948 {
  position:absolute;
  left:19px;
  top:41px;
  width:100px;
  height:3px;
}
#u949 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u941_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
}
#u950 {
  position:absolute;
  left:33px;
  top:7px;
  width:73px;
  height:24px;
  font-size:20px;
  color:#AEAEAE;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u952 {
  position:absolute;
  left:151px;
  top:7px;
  width:73px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
}
#u954 {
  position:absolute;
  left:268px;
  top:7px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#AEAEAE;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:6px;
}
#u956 {
  position:absolute;
  left:130px;
  top:41px;
  width:100px;
  height:3px;
}
#u957 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u941_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
}
#u958 {
  position:absolute;
  left:33px;
  top:7px;
  width:73px;
  height:24px;
  font-size:20px;
  color:#AEAEAE;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
}
#u960 {
  position:absolute;
  left:151px;
  top:7px;
  width:73px;
  height:24px;
  font-size:20px;
  color:#AEAEAE;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u962 {
  position:absolute;
  left:268px;
  top:7px;
  width:87px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:6px;
}
#u964 {
  position:absolute;
  left:257px;
  top:41px;
  width:100px;
  height:3px;
}
#u965 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966 {
  position:absolute;
  left:-1px;
  top:395px;
  width:131px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u967 {
  position:absolute;
  left:130px;
  top:395px;
  width:112px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u968 {
  position:absolute;
  left:242px;
  top:395px;
  width:132px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u969 {
  position:absolute;
  left:130px;
  top:395px;
  width:112px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u970 {
  position:absolute;
  left:242px;
  top:395px;
  width:132px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u971 {
  position:absolute;
  left:0px;
  top:448px;
  width:374px;
  height:409px;
  overflow:hidden;
}
#u971_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:409px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u971_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:146px;
}
#u972 {
  position:absolute;
  left:3px;
  top:1px;
  width:115px;
  height:146px;
}
#u973 {
  position:absolute;
  left:2px;
  top:65px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:409px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u971_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:466px;
  overflow:hidden;
  touch-action:none;
}
#u974_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:466px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u974_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:331px;
}
#u975 {
  position:absolute;
  left:0px;
  top:95px;
  width:248px;
  height:331px;
}
#u976 {
  position:absolute;
  left:2px;
  top:158px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u977 {
  position:absolute;
  left:12px;
  top:9px;
  width:50px;
  height:50px;
}
#u978 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u979 {
  position:absolute;
  left:72px;
  top:22px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:16px;
  top:63px;
  width:35px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u983 {
  position:absolute;
  left:160px;
  top:395px;
  width:100px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u971_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:409px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u971_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1403px;
  overflow:hidden;
  touch-action:none;
}
#u984_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1403px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u984_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:551px;
}
#u985 {
  position:absolute;
  left:3px;
  top:0px;
  width:367px;
  height:551px;
}
#u986 {
  position:absolute;
  left:2px;
  top:268px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:297px;
}
#u987 {
  position:absolute;
  left:3px;
  top:551px;
  width:367px;
  height:297px;
}
#u988 {
  position:absolute;
  left:2px;
  top:140px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:555px;
}
#u989 {
  position:absolute;
  left:3px;
  top:848px;
  width:367px;
  height:555px;
}
#u990 {
  position:absolute;
  left:2px;
  top:270px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991 {
  position:absolute;
  left:140px;
  top:398px;
  width:95px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
  background:inherit;
  background-color:rgba(56, 59, 68, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u992 {
  position:absolute;
  left:140px;
  top:196px;
  width:154px;
  height:32px;
  color:#FFFFFF;
}
#u993 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u994 {
  position:absolute;
  left:158px;
  top:227px;
  width:197px;
  height:16px;
  color:#BCBCBC;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u996 {
  position:absolute;
  left:132px;
  top:597px;
  width:100px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:9px;
}
#u998 {
  position:absolute;
  left:33px;
  top:111px;
  width:37px;
  height:9px;
}
#u999 {
  position:absolute;
  left:2px;
  top:-4px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1000 {
  position:absolute;
  left:77px;
  top:107px;
  width:61px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u1002 {
  position:absolute;
  left:145px;
  top:109px;
  width:20px;
  height:13px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1004 {
  position:absolute;
  left:184px;
  top:107px;
  width:67px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u1006 {
  position:absolute;
  left:351px;
  top:109px;
  width:41px;
  height:13px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:-2px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
